@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Hide scrollbar */
.hide-scrollbar {
  -ms-overflow-style: none;
  /* Internet Explorer */
  scrollbar-width: none;
  /* Firefox */
}

/* Hide scroolbar (Chrome, Safari, Edge Chromium) */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

@media (max-width: 768px) {

  .swiper-button-prev,
  .swiper-button-next {
    top: 70px !important;
    transform: translateY(0);
    width: 30px;
    height: 30px;
  }

  .swiper-button-prev {
    left: 10px !important;
  }

  .swiper-button-next {
    right: 10px !important;
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    font-size: 20px !important;
  }
}

.swiper .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background: #ffffff !important;
  opacity: 0.6 !important;
  transition: background 0.3s ease, transform 0.3s ease;
}

.swiper .swiper-pagination-bullet-active {
  background: #EC874A !important;
  opacity: 1 !important;
  transform: scale(1.2);
}

.swiper-pagination {
  bottom: 16px !important;
  z-index: 30;
}

@media (max-width: 768px) {
  .swiper-pagination {
    bottom: 80px !important;
  }
}